<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-Messaging Example - Login</title>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>

<body>

	<div class="ui three column grid">
		<div class="five wide column"></div>
		<div style="margin-top:20px" class="six wide column">
			<form class="ui form" method="POST">
				<div class="field">
					<label>Username</label>
					<input type="text" name="username" placeholder="Username">
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" name="password" placeholder="Password">
				</div>
				<button class="ui primary button" type="submit">Log In</button>
				</form>
				</div>
			<div class="five wide column"></div>
	</div>

</body>
</html>
